/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	background-color: #f8e3e8;
	padding: 3.5rem;

	input,select {
		border-bottom: 1px solid #908688;
		background-color: #f8e3e8;
	}

	select {
		padding-bottom: 0.8rem ;
	}

	label {
		color: #676062;
		font-size: 0.875rem;
		font-family: $body-font;
		display: block;
		margin-bottom: -1rem;
		padding-left: 0.8rem;
		letter-spacing: 0.05rem;
	}

	button {
		font-size: 1rem;
		padding: 1.2rem;
		font-family: $body-font;
		letter-spacing: 0.07rem;

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}

	p {
		font-size: 0.875rem;
		line-height: 1.3rem;
		color: #9f9f9f;
	}
}