
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact {
	background-color: #f8e3e8;
	padding: 3.5rem;

	input,select {
		border-bottom: 1px solid #908688;
	}

	label {
		color: #676062;
		font-size: 0.875rem;
		display: block;
		margin-bottom: -1rem;
		padding-left: 0.8rem;
		letter-spacing: 0.05rem;
	}
}