
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	.widget-title {
		color: #362e29;		
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
		font-family: $body-font;
		font-weight: 600;
		letter-spacing: 0.05rem;
	}	

	// Widget - Social
	&.widget-social {
		.widget-content {
			p {
				color: $white;
				font-size: 1.125rem;
				display: block;
				font-family: $heading-font;
			}

			.social-icons {
				padding: 0;
				list-style: none;
	
				li {
					padding: 0.5rem;
					&:last-child {
						padding-right: 0;
					}
			
					a {	
						display: inline-block;
						background-color: $theme-color;
						color: $white;		
						width: 1.825rem;
						height: 1.825rem;
						vertical-align: middle;
						text-align: center;
						border-radius: 50%;	
						// padding: 0.2rem 0.6rem;
	
						@include transition(all 0.3s ease-in-out);
			
						&:hover {
							background-color: $white;
							color: $theme-color;
						}
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			list-style: none;

			li {
				margin-bottom: 0.3rem;

				a {
					color:#746771;
					font-size: 1.125rem;

					&:hover {
						color: #362e29;
						font-weight: 600;
					}
				}
			}
		}

		@include media-breakpoint-down(lg) {
			padding: 0 !important;
		}
	}

	@include media-breakpoint-down(md) {
		&.widget-links {

			.widget-content {
				justify-content: space-between;
			}

			ul {
				width: auto;
				margin: auto;
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		p {
			color: $white;
			font-size: 1.125rem;
			display: block;
			font-family: $heading-font;
		}
		.payments {

			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: .5rem;
				padding: 0.2rem;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 0.5rem !important;

				img {
					width: 2rem !important;
				}
			}
		}
	}

	// Widget - custom html
	&.widget-custom-html {
		.widget-content {
			a {	
				font-weight: 600;
				display: block;
				color: #362e29;
				letter-spacing: 0.05rem;
				margin-bottom: 0.3rem;

				&:hover {
					color: $theme-color;
				}
			}
		}
	}

	&.widget-subscribe {
		.widget-content {
			p {
				color: #362e29;
			}

			#widget-subscribe-form {
				input {
					font-size: 0.875rem;
					border-bottom: 1px solid #978888;
				}
			}
		}
	}
}