.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.logo-item {
		position: relative;
		max-width: 16.625rem;
		height: 5.5rem;
		display: flex !important;
		justify-content: center;
		margin: auto;

		img {
			width: auto;
			height: auto;
		}

		&.border-right{
			&:after {
				position: absolute;
				right: -1rem;
				bottom: 1rem;
				content: "";
				display: inline-block;
				width: 1px;
				height: 3rem;
				background-color: #3c323e;

				@include media-breakpoint-down(lg) {
					width: 0;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 0 !important;
	}
} 